.my-footer {
  background-color: #4682b4;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: fit-content !important;
  font-size: 16px !important;
}

.my-footer p {
  line-height: 24px;
  margin: 0px;
}
