.nav {
  height: fit-content !important;
  display: flex;
  justify-content: center;
  background-color: #51a1c1;
  margin-top: 1px;
  padding: 10px;
}

.nav a {
  height: 20px;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold !important;
  font-size: 16px !important;
}
