.nav {
  height: fit-content !important;
  display: flex;
  justify-content: center;
  background-color: #51a1c1;
  margin-top: 1px;
  padding: 10px;
  vertical-align: middle;
}

.nav a {
  height: 24px;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold !important;
  font-size: 16px !important;
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
  }
  
  .sobre {
    text-align: center;
  }
  
  .sobreImg {
    margin: 0 auto;
  }
  
  .homeLinks {
    grid-template-columns: 1fr;
  }
}