.my-header {
  height: fit-content !important;
  background-color: #4682b4;
  color: white;
  padding: 20px;
  text-align: center;
}

.h1 {
  font-weight: bold !important;
  font-size: 32px !important;
  margin: 0px !important;
}